# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging / build artefacts
*.egg-info/
build/
dist/
.eggs/

# Virtualenvs
.venv/
venv/
env/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Debug dumps written by the mapper at runtime
mapped_resource.json
